body{
    background-color: rgb(253, 195, 214);
}


.card {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(227, 180, 180);
    font-size: 40px;
    margin: 10px;
    flex: 200px 0 0;
    margin-top: 20px;
  }
  .cards img {
      width: 100%;
      object-fit: cover;
  }
  .cards-wrapper {
    display: flex; 
    transition: ease 0.5s;


  }
  .display-area {
    width: 880px;
  /*   border: 1px solid black; */
    overflow-x: hidden;
    margin: auto;
  }
  
  .dots-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  .dot {
    border: none;
    background: rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    outline: none;
  }
  .dot:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  .dot.active {
    background: rgba(0, 0, 0, 0.5);
  }